!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Connectapp
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_include_tag("https://js.stripe.com/v3/")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      %p
      .btn-toolbar.pull-right
        = link_to("New Charge", new_charge_path, class: "btn btn-success")
        = link_to("New Stripe Connect", new_oauth_account_path, class: "btn btn-success")
        = link_to("Connected Accounts", oauth_accounts_path, class: "btn btn-success")
      .text-center
        - flash.each do |type, message|
          #flash.alert.alert-dismissible.fade.in{:class => "alert"}
            = message.html_safe
        - unless resource&.errors.blank?
          = resource&.errors&.each do |e|
            = e.to_s
    .container
      = yield
